<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suning.arttrain.repository.StudentInfoRepository">

	<insert id="addStudentInfo" parameterType="StudentInfo" keyProperty="id" useGeneratedKeys="true">
		insert into arttrain_student_info(name,age,birthday,address,contact_person,contact_mobile,school,grade)
			values(#{name},#{age},str_to_date(#{birthday}, '%Y-%m-%d'),#{address},#{contactPerson},#{contactMobile},#{school},#{grade})
        <selectKey resultType="long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID();
        </selectKey>
	</insert>

	<select id="loadStudentInfo" resultType="StudentInfo" parameterType="long">
		select * from arttrain_student_info where id=#{id};
	</select>

	<update id="updateStudentInfo">
		update arttrain_student_info set name=#{name},age=#{age},birthday=str_to_date(#{birthday}, '%Y-%m-%d'),address=#{address},
		contact_person=#{contactPerson},contact_mobile=#{contactMobile},school=#{school},grade=#{grade}  where id=#{id};
	</update>


	<sql id="selectStudentInfo">
		select * from  arttrain_student_info
		where 1=1
	</sql>

	<sql id="searchContidion">
		<choose>
			<when test="startTime != null and startTime!='' ">
				and create_time >= str_to_date(#{startTime}, '%Y-%m-%d')
			</when>
			<when test="endTime != null and endTime!='' ">
				<![CDATA[and create_time <= str_to_date(#{endTime}, '%Y-%m-%d')]]>
			</when>
			<!--<when test="isDelete != null and isDelete!='' ">
				and isDelete = #{studentName}
			</when>-->
			<when test="studentName != null and studentName!='' ">
				and student_name like concat('%',#{studentName},'%')
			</when>
		</choose>
	</sql>


	<select id="listStudentInfos" resultType="StudentInfo" parameterType="java.util.Map">
		<include refid="selectStudentInfo"/>
		<include refid="searchContidion"/>
	</select>

</mapper>